/.vs/Project/FileContentIndex/4d4359db-3158-48a1-8b59-34c6a58a2cc0.vsidx
/.vs/Project/FileContentIndex/7ba0b9c2-e7ee-436e-862f-7f889959cb97.vsidx
/.vs/Project/FileContentIndex/2735f3c2-2fee-4ed5-8e56-9e4456565bac.vsidx
/.vs/Project/FileContentIndex/af252c7d-64ce-474d-9d52-c0ce5be8907e.vsidx
/.vs/Project/v17/Browse.VC.db-shm
/.vs/Project/v17/Browse.VC.db-wal
/.vs/Project/v17/Browse.VC.opendb
/.idea/workspace.xml
