/.vs/Project/FileContentIndex
/.vs/Project/v17/Browse.VC.db
/.vs/Project/v17/Browse.VC.db-shm
/.vs/Project/v17/Browse.VC.db-wal
/.vs/Project/v17/Browse.VC.opendb
/.idea/workspace.xml
/.idea
/.vs/Project/
